// WIFI Data
#define SECRET_SSID "<<mysid>>"       // your network SSID (name)
#define SECRET_PASS "<<mypassword>>"  // your wifi password goes here

// MQTT Data
#define SECRET_MQTT_SERVERIP "192.168.4.101"
#define SECRET_MQTT_PORT "1883"
#define SECRET_MQTT_UNAME "ubuntu"       // MQTT User's Name and pwd
#define SECRET_MQTT_UPASS "ubuntu"
#define SECRET_MQTT_CLIENTID "nano_iot_33_02"